{% extends 'base.html' %}

{% block content %}
<style>
    .button1 {
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 40px;
      width: 400px;
      height: 100px;
      margin: 0px;
      position: fixed;
      top: 10%;
      right: 51%;
      transition-duration: 0.2s;
      cursor: pointer;
    }

    .button2 {
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 40px;
      width: 400px;
      height: 100px;
      margin: 0px;
      position: fixed;
      top: 10%;
      right: 9%;
      transition-duration: 0.2s;
      cursor: pointer;
    }

    .button1 {
      background-color: whitesmoke;
      color: #3498DB;
      border: 8px solid #3498DB;
    }

    .button1:hover {
      background-color: #3498DB;
      color: white;
    }

    .button2 {
      background-color: black;
      color: white;
      border: 8px solid whitesmoke;
    }

    .button2:hover {
      background-color: whitesmoke;
      color: 8px solid black;
    }

    </style>

    <h1 style= 'font-size: 36px; font-family: Arial; color:white; text-align:center; margin-bottom: -10px; margin-left:10px; text-shadow: 1px 1px whitesmoke'>{% block title %} Welcome to Manc Stories!  {% endblock %}</h1>
    <p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </p>
    <p style= "font-size: 20px; font-family: Arial; color:rgb(223, 221, 221); text-align:center; margin-bottom: -10px; margin-left:10px">
        This location-based game lets you discover street art and personal stories.
        <br>
        You are also welcome to add your own stories and share them with the world!
        <br>
        🤍 💙 🤍
        <br>
    </p>
    <form action="https://outaos.pythonanywhere.com/play">
        <input type="submit" class="button button1" value="Play" />
    </form>
    <form action="https://outaos.pythonanywhere.com/play">
        <input type="submit" class="button button2" value="Create" />
    </form>
    <p style= "font-size: 20px; font-family: Arial; color:rgb(223, 221, 221); text-align:center; margin-bottom: -10px; margin-left:10px">
    Please read some recommendations below.
    <br>
    </p>
    <hr>
    <h1 style= 'font-size: 36px; font-family: Arial; color:white; text-align:center; margin-bottom: -10px; margin-left:10px; text-shadow: 1px 1px whitesmoke'> "Play" the game &#127952;</h1>
    <p style= "font-size: 20px; font-family: Arial; color:rgb(223, 221, 221); text-align:left; margin-bottom: -10px; margin-left:10px">
            1. Choose a city.
            <br> 2. Select a gaming mode.
            <br> 3. Walk around the town and discover hidden stories/street art.
            <br> Once you enter an invisible geofence a popup will provide you with a hint.
            <br> You can always return to the rules and explanations by clicking on the menu button.
            <br> If you choose the “Invader Art” mode, I highly recommend downloading FlashInvader app. (<a href="https://apps.apple.com/us/app/flashinvaders/id895180919">AppStore</a> / <a href="https://play.google.com/store/apps/details?id=com.ltu.flashInvader&hl=en_GB&gl=US">GooglePlay</a>).
            <br> This app will allow you to collect the invaders you will discover.
            <br> You are encouraged to read about Invader artist and his art here <a href="https://space-invaders.com/about/">Invader</a> (he is awesome!)
            <br> If you choose the “Personal Stories” mode, you will need to find a story relevant to you.
            <br> Click to<a href="https://outaos.pythonanywhere.com/play"> Play</a>
    </p>
    <hr>
    <br>
    <h2 style= 'font-size: 36px; font-family: Arial; color:white; text-align:center; margin-bottom: -10px; margin-left:10px; text-shadow: 1px 1px whitesmoke'> “Create” your own stories &#128168;</h2>
    <p style= "font-size: 20px; font-family: Arial; color:rgb(223, 221, 221); text-align:left; margin-bottom: -10px; margin-left:10px">
        To contribute to the game and connect to your friends, hide your own stories in the “Create” section.
        <br>You will need to record audio and save it on your smartphone.
        <br>If you are an iPhone user (&#128684;) I recommend downloading an old fashioned Voice Recorder (<a href="https://apps.apple.com/gb/app/voice-recorder-audio-editor/id685310398?fbclid=IwAR2QUzpKC83fpjOdjz9DESc8BYDnLFJ0Db5DDYT9gJ-g7yW-_ymdSyOb2XE">AppStore</a>), Voice Memos won't work.
        <br>Upload the audio file, name it, and choose the exact location related to your story on a map.
        <br>Please do not record offensive stories, as I won’t be able to add them to the game.
        <br>Thank you!
        <br> Click to<a href="https://outaos.pythonanywhere.com/"> Create</a>
        <br>
    </p>
    <hr>
    <h2 style= 'font-size: 36px; font-family: Arial; color:white; text-align:center; margin-bottom: -10px; margin-left:10px; text-shadow: 1px 1px whitesmoke'> If you are lost don’t suffer in silence, <br> use the hints! &#128173;</h2>
    <p style= "font-size: 20px; font-family: Arial; color:rgb(223, 221, 221); text-align:left; margin-bottom: -10px; margin-left:10px">
        Once you are in the game, there will be a special search bar in the top left corner of the map.
        <br>You need to type the name of a space invader or a story.
        <br>To discover these names, use the collapsible legend in the bottom right corner of the map.
        <br>Once you type the name, the map will zoom in on the object of interest.
        <br>Just walk there, and more hints will pop up!
        <br> Happy exploring!🤍
    </p>
    <!-- -->
            <!-- Leaflet sidebar  V1 CSS -->
            <link  href="{{url_for('static', filename = 'leaflet-sidebar-master/L.Control.Sidebar.css')}}" rel="stylesheet">
            <!-- Leaflet sidebar V1 js -->
            <link  href="{{url_for('static', filename = 'leaflet-sidebar-master/L.Control.Sidebar.js')}}" rel="stylesheet" >

            <!-- Leaflet legend CSS -->
            <link  href="{{url_for('static', filename = 'Leaflet.Legend-master/leaflet.legend.css')}}" rel="stylesheet">
            <!-- Leaflet legend js -->
            <link  href="{{url_for('static', filename = 'Leaflet.Legend-master/leaflet.legend.js')}}" rel="stylesheet">



            <!-- leaflet search  -->
            <link href="{{url_for('static', filename = 'leaflet-search-master/leaflet-search.css')}}" rel="stylesheet">
            <link href="{{url_for('static', filename = 'leaflet-search-master/style.css')}}" rel="stylesheet">
            <link href="{{url_for('static', filename = 'leaflet-search-master/leaflet-search.js')}}" rel="stylesheet">
{% endblock %}