<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
       
        <title>A location-based game to rediscover your city</title>              
    
        <!-- Leafet CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin=""/>
        <!--  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"/>  -->
        <!--Leaflet js -->    
        <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>
        <!--  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>   -->
        
        <!-- Turf js -->
        <script src='https://unpkg.com/@turf/turf@6.3.0/turf.min.js'></script> 
        
        <link rel="stylesheet"  href="../static/leaflet-sidebar-master/L.Control.Sidebar.css"  /> <!-- Leaflet sidebar  V1 CSS -->        
        <script src="../static/leaflet-sidebar-master/L.Control.Sidebar.js"></script> <!-- Leaflet sidebar V1 js -->
    
        <link rel="stylesheet"  href="../static/Leaflet.Legend-master/leaflet.legend.css"  /> <!-- Leaflet legend CSS -->      
        <script src="../static/Leaflet.Legend-master/leaflet.legend.js"></script> <!-- Leaflet legend js -->
    
    
        <!-- leaflet search  -->
        <link rel="stylesheet" href="../static/leaflet-search-master/leaflet-search.css" /> <!-- ADDED -->
        <link rel="stylesheet" href="../static/leaflet-search-master/style.css" /> <!-- ADDED -->
        <script src="../static/leaflet-search-master/leaflet-search.js"></script> <!-- ADDED -->
        
        <!-- Ajax font-awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
        <!-- Set size to fit mobile browser -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
        <style>

                         /* set the size web page to full size */
                html, body {
                    padding:0;
                    margin: 0;
                    width: 100%;
                    height: 100%;
                }
                /* set the size of the map */
                #map {
                    width: 100%;
                    height: 85%;
                }
    
                #open_slidebar {
                    background-image: url("../static/pics/menuBlack.png"); 
                    border: none; 
                    height: 33px;
                    width: 35px; 
                    margin-top: 37px;
                    margin-right: 15px;
                    position: absolute;
                    top: 0;
                    right: 0; 
                    background-color: #ebebf0; 
                }
                
                .figureborder { 
                    border-style: solid; 
                    border-color:#898989;
                    padding: 2px;
                    border-width: thin; 
                    background-color: #DCDADA;  
                } 
    
                /*  NOT SURE I NEED THIS */
                /* Button style */
                button {
                    background: #0084ff;
                    border: none;
                    border-radius: 5px;
                    padding: 8px 14px;
                    font-size: 15px;
                    color: #fff;
                }
    
                #banner-message.alt {
                    background: #0084ff;
                    color: #fff;
                    margin-top: 40px;
                    width: 200px;
                }
    
                #banner-message.alt button {
                    background: #fff;
                    color: #000;
                }

        </style>
    </head>

    
    <!-- Set background colour --> 
    <!--style="background-color: #061529"-->
    <body onload="initMap()", style="background-color: #061529"> 

        <h1 style= 'font-size: 36px; font-family: Arial; color:white; text-align:center; margin-bottom: -10px; margin-left:10px; text-shadow: 1px 1px whitesmoke'> Manc Stories </h1>                          
        
        <!-- A button to switch to the sidebar -->
        <button type= "button" id= "open_slidebar"></button>

        <br>  
        
        <!-- A division to hold the map -->
		<div id='map'></div>

        <!-- Load Leaflet -->


        <!-- Create a sidebar --> 
        <div id="sidebar_settings">
            <h1 style="background-color: white ;text-shadow: 1px 1px #061529; padding-right:5px;">Stories discovered:</h1> 				<!-- currently contains miscellaneous stuff --> 
			<p id="score" style="text-align: center;"></p>
			<hr>
            <h1 style="background-color: white ;text-shadow: 1px 1px #061529; padding-right:5px;">Distance walked (km):</h1> 				<!-- currently contains miscellaneous stuff --> 
			<p id="dist_tracker" style="text-align: center;"></p>
            <hr>
            <h1 style="background-color: white ;text-shadow: 1px 1px #061529; padding-right:5px;"> Add your own story here: <a href="https://outaos.pythonanywhere.com/" target="_blank">Create!</a></h1>                    
			<hr>                  
			<h1 style="background-color: white ;text-shadow: 1px 1px #061529; padding-right:5px;"> Gameflow </h1> 
			<p> 1. Walk around central Manchester to discover stories. <br> 2. Touch the 'feet' icon to see how far you are from the nearest story. <br> 3. Once you enter an invisible geofence the hint will popup and the geofence will appear on the map. <br> 4. Walk inside the geofence and the story will appear on the map. <br> 5. Dare to add you own stories <a href="https://outaos.pythonanywhere.com/">here</a>. <br> 6. Share this web app with friends!</p> 
			<hr>
            <h1 style="background-color: white ;text-shadow: 1px 1px #061529; padding-right:5px;"> Further information</h1>
            <p>
                This mode allows you to discover stories recorded by the author of this app (<a href="https://www.instagram.com/ozz_outao/" target="_blank">link for criticism</a>) and his awesome friends.
                Some of these stories happened in Manchester and some in other distant corners of the world.
                However, all thess stories are location-based, and who knows, maybe some of them are about you! 
            </p>
            <hr>
            <h1 style="background-color: white ;text-shadow: 1px 1px #061529; padding-right:5px;"> Return to <a href="https://outaos.pythonanywhere.com/play" target="_blank">Play</a></h1>                    
			

		</div>
        


        
        <script>

            // global variable for map
            let map;
            // Set location variable to 'null' to account for no info when user just enters the game
            let position = null; 

            //Counter for score 					
			let geofence_tracker = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];  

            //Counter for score 					
			//let distance_tracker = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]; 

            // initialise empty array for updated coords
            let locationList = []

            // A function to set the flag variable to 'false' for every buffer in enterBuffer_b
            let enterBuffer_b
            let flag_b
            let flag_a

            
            // Variable for arrays of buffers
            let dots, outofBufferB, b_buffers, a_buffers;

            // variables for the arrays of popups
            let b_popups, popup_audio

            // Variable for the square grid
            let cover;

            let geoLine;



            // Style the geofences
            const midStyle = {
                "color": "#2E86C1",
                "weight": 0,
                "fillOpacity": 0.15
            };

            const innerStyle = {
                "color": "#2E86C1", 
                "weight": 0, 
                "fillOpacity":0.15   
            };

            // Style the entered geofences
            const enterstyleIn = { 
                "color": "#0E6655",    // green
                "weight": 3,
                "fillOpacity": 0.3
            };

            const enterstyleMid = { 
                "color": "#2E86C1",   // blue
                "weight": 3,
                "fillOpacity": 0.3
            };


        /**
         * Initialise the map (called when the body has loaded)
         */
        function initMap(){

            //sample data values to populate map
            var data = [
							{"loc":[53.474824,-2.238472], "title":"story 1 (Hotel)"},
							{"loc":[53.475476,-2.234458], "title":"story 2 (Frog)"},
							{"loc":[53.478758,-2.239871], "title":"story 3 (Dragon)"},
							{"loc":[53.476903,-2.236298], "title":"story 4 (Natalie)"},
							{"loc":[53.480616,-2.229870], "title":"story 5 (Shy friend)"}
						];

            // Map tiles 
            map = L.map('map');
            const mapCentre = L.latLng(53.4808,-2.2426);
            map.setView(mapCentre,16); //13
            // Change tiles
            L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
                        subdomains: 'abcd',
                        maxZoom: 20
                    }).addTo(map);

            
            // Add a scale to the map
            L.control.scale().addTo(map);

            // Search bar function
            function localData(text, callResponse)
                {
                //here can use custom criteria or merge data from multiple layers

                callResponse(data);

                return {	//called to stop previous requests on map move
                    abort: function() {
                        console.log('aborted request:'+ text);
                    }
                };
                }

                map.addControl( new L.Control.Search({sourceData: localData, text:'Color...', markerLocation:true}) );
            
            
            
            
            // Sidebar 
            var sidebar_settings = L.control.sidebar('sidebar_settings', {
                position: 'right' 
            }); 
            map.addControl(sidebar_settings);     
        
            document.getElementById("open_slidebar").onclick = Toggle; 
            
            function Toggle () { 
                sidebar_settings.toggle();  
            };



            



            /*
            // TRACK PLAYER'S LOCATION  *************************************************************************************************
            */
            // Leaflet function that tracks player's geolocation
            map.locate({setView: false, maxZoom: 16, watch: true, enableHighAccuracy: true});   // setView to false to make a map more managable


            /*/////////////////////////////////////////////////////////
            //INFO ON BUFFERS AND POPUPS
            *//////////////////////////////////////////////////////////
            //Icon class for custom icons 
            let manIcon = L.Icon.extend({
                options: {
                    iconSize: [1,1],    
                    iconAnchor: [23,37],
                    popupAnchor: [-5, -37] 
                }
            });

            const dot = new manIcon({iconUrl: '../static/pics/dot.png'});
            
            /*
            // SPACE INVADERS  *************************************************************************************************
            */
            // Story # 1 Kempinski
            const dot_1  = turf.point([-2.238472,53.474824]);                                        // Wang Ying store = [53.487068,-2.228138]       
            const a_buff_1 = turf.buffer(dot_1, 0.02, {units:'kilometers',steps:24});              // UoM autolocation = [53.490878,-2.228104]
            const b_buff_1 = turf.buffer(dot_1, 0.05, {units:'kilometers', steps:24});                 
                
            L.geoJSON(a_buff_1,{style: innerStyle}).addTo(map); 
            L.geoJSON(b_buff_1, {style: midStyle}).addTo(map); 										

            const story_1 = L.marker([53.474824,-2.238472], {icon:dot}).bindPopup().addTo(map);
    
            // Buffer 'b' popups
            const b_pop_1_info = ("<h1 style ='text-align:center; color: #263985'> You are very close to a story about the Great Wall hotel!</h1><b> Walk to the end of Granby Row an ugly car park and a beautiful Kimpton hotel.</b> <br> <b> Please take a screenshot of the picture below, it will be handy! </b> <iframe src='../static/pics/Kimpton.jpg' width='300' height='300' frameborder='0' ></iframe>")   //Add content using HTML tags  width='300' height='300'
            const b_pop_1 = story_1.bindPopup(b_pop_1_info, { 
                maxWidth: 320,				 
                maxHeight: 400
            });
            story_1.off('click'); 

            // POPUP 1
            const audioIcon1 = L.icon({
                iconUrl: "../static/pinkMusic.png",       // Yellow
                iconSize: [30, 30], // size of the icon  [50, 58]
                iconAnchor: [12, 41], // changed marker icon position  [20, 58]
                popupAnchor: [0, -60], // changed popup position
            });
            const a_pop_1_info =
            "<h3>You are a legend!</h3><br><b>All you need now is to be attentive and you will discover a story in no time.</b><br><iframe src='../static/media/kempinski_story.mp3' width='300' height='300' frameborder='0' ></iframe>";
            // specify popup options
            const a_customOptions1 = {
            maxWidth: "auto", // set max-width   
            className: "customPopup", // name custom popup
            };
            const a_pop_1 = L.marker([53.474824,-2.238472], {icon: audioIcon1}).bindPopup(a_pop_1_info, a_customOptions1);



            // Story # 2  Frog
            const dot_2  = turf.point([-2.234458,53.475476]);                           // Christabel = [53.493350,-2.226204]  Rochdale road [53.493023,-2.224488]
            const a_buff_2 = turf.buffer(dot_2, 0.02, {units:'kilometers',steps:24});
            const b_buff_2 = turf.buffer(dot_2, 0.05, {units:'kilometers', steps:24});  
            
            var story_2 = L.marker([53.475476,-2.234458], {icon:dot}).bindPopup().addTo(map);  
            
            L.geoJSON(a_buff_2,{style: innerStyle}).addTo(map);
            L.geoJSON(b_buff_2, {style: midStyle}).addTo(map); 														 

            // Buffer 'b' popups
            const b_pop_2_info = ("<h1 style ='text-align:center; color: #263985'> You are very close to a story about a frog with the beautiful legs!</h1><b> The frog is hinding behind the ugliest and biggest monument to Vimto in the world.</b> <br> <b>  Please take a screenshot of the picture below, it will be handy! </b> <iframe src='../static/pics/02_oak_street.jpg' width='300' height='300' frameborder='0' ></iframe>")   //<iframe src='pics/02_oak_street_rs.jpg' width='300' height='300' frameborder='0' ></iframe>
            const b_pop_2 = story_2.bindPopup(b_pop_2_info, { 
                maxWidth: 320,				 
                maxHeight: 400
            });
            story_2.off('click'); 

            // POPUP 2
            const audioIcon2 = L.icon({
                iconUrl: "../static/pinkMusic.png",       // Yellow
                iconSize: [30, 30], // size of the icon  [50, 58]
                iconAnchor: [12, 41], // changed marker icon position  [20, 58]
                popupAnchor: [0, -60], // changed popup position
            });
            const a_pop_2_info =
            "<h3>You are a legend!</h3><br><b>All you need now is to be attentive and you will discover a story in no time.</b><br><iframe src='../static/media/frog_story.mp3' width='300' height='300' frameborder='0' ></iframe>";
            // specify popup options
            const a_customOptions2 = {
            maxWidth: "auto", // set max-width   
            className: "customPopup", // name custom popup
            };
            const a_pop_2 = L.marker([53.475476,-2.234458], {icon: audioIcon2}).bindPopup(a_pop_2_info, a_customOptions2);

            
            // Story # 3  Dragon
            const dot_3  = turf.point([-2.239871,53.478758]);                            // St Patric school [53.489761,-2.224294]// ALB  [53.466781,-2.235710]
            const a_buff_3 = turf.buffer(dot_3, 0.03, {units:'kilometers',steps:24});                       // Christabel compound [53.489711,-2.224214]
            const b_buff_3 = turf.buffer(dot_3, 0.05, {units:'kilometers', steps:24});   
    
            var story_3 = L.marker([53.478758,-2.239871], {icon:dot}).bindPopup().addTo(map);   //, {icon:oak}   .addTo(map)
            
            L.geoJSON(a_buff_3,{style: innerStyle}).addTo(map);
            L.geoJSON(b_buff_3, {style: midStyle}).addTo(map); 										


            // Buffer 'b' popups
            const b_pop_3_info = ("<h1 style ='text-align:center; color: #263985'> You are very close to a story about the Chinese dragon!</h1><b> Walk to St. James street, on the other side of the car park</b><br> <b> Please take a screenshot of the picture below, it will be handy! </b><iframe src='../static/pics/03_tib_street.jpg' width='300' height='300' frameborder='0' ></iframe>")   //<iframe src='pics/02_oak_street_rs.jpg' width='300' height='300' frameborder='0' ></iframe>
            const b_pop_3 = story_3.bindPopup(b_pop_3_info, { 
                maxWidth: 320,				 
                maxHeight: 400
            });
            story_3.off('click'); 

            // POPUP 3
            const audioIcon3 = L.icon({
                iconUrl: "../static/pinkMusic.png",       // Yellow
                iconSize: [30, 30], // size of the icon  [50, 58]
                iconAnchor: [12, 41], // changed marker icon position  [20, 58]
                popupAnchor: [0, -60], // changed popup position
            });
            const a_pop_3_info =
            "<h3>You are a legend!</h3><br><b>All you need now is to be attentive and you will discover a story in no time.</b><br><iframe src='../static/media/ChineseDragon.mp3' width='300' height='300' frameborder='0' ></iframe>";
            // specify popup options
            const a_customOptions3 = {
            maxWidth: "auto", // set max-width   
            className: "customPopup", // name custom popup
            };
            const a_pop_3 = L.marker([53.478758,-2.239871], {icon: audioIcon3}).bindPopup(a_pop_3_info, a_customOptions3);




            // FAKE INVADERS FOR TESTING

            // Story # 101  Natalie        ALB East    [53.466813,-2.235488]                                                               Christabel 101  [53.493367,-2.226024]
            const dot_101  = turf.point([-2.236298,53.476903]);                          
            const a_buff_101 = turf.buffer(dot_101, 0.02, {units:'kilometers',steps:24});     
            const b_buff_101 = turf.buffer(dot_101, 0.05, {units:'kilometers', steps:24});   
   
            var story_101 = L.marker([53.476903,-2.236298], {icon:dot}).bindPopup().addTo(map);   
           
            L.geoJSON(a_buff_101,{style: innerStyle}).addTo(map);
            L.geoJSON(b_buff_101, {style: midStyle}).addTo(map); 										

            // Buffer 'b' popups
            const b_pop_101_info = ("<h1 style ='text-align:center; color: #263985'> You are very close to a story about a Natalie!</h1><b> The story is hidden in a park.</b> <br> <b> Please take a screenshot of the picture below, it will be handy! </b><iframe src='../static/pics/28_hewitt_street.jpg' width='300' height='300' frameborder='0' ></iframe>")  
            const b_pop_101 = story_101.bindPopup(b_pop_101_info, { 
                maxWidth: 320,				 
                maxHeight: 400
            });
            story_101.off('click');

            // POPUP 101
            const audioIcon101 = L.icon({
                iconUrl: "../static/pinkMusic.png",       // Yellow
                iconSize: [30, 30], // size of the icon  [50, 58]
                iconAnchor: [12, 41], // changed marker icon position  [20, 58]
                popupAnchor: [0, -60], // changed popup position
            });
            const a_pop_101_info =
            "<h3>You are a legend!</h3><br><b>All you need now is to be attentive and you will discover a story in no time.</b><br><iframe src='../static/media/Natalie.mp3' width='300' height='300' frameborder='0' ></iframe>";
            // specify popup options
            const a_customOptions101 = {
            maxWidth: "auto", // set max-width   
            className: "customPopup", // name custom popup
            };
            const a_pop_101 = L.marker([53.476903,-2.236298], {icon: audioIcon101}).bindPopup(a_pop_101_info, a_customOptions101);
            


            // Story # 102        ALB South    [53.466621,-2.236100]                                                                Christabel parking  [53.492684,-2.226228]
            const dot_102  = turf.point([-2.229870,53.480616]);                          
            const a_buff_102 = turf.buffer(dot_102, 0.02, {units:'kilometers',steps:24});     
            const b_buff_102 = turf.buffer(dot_102, 0.05, {units:'kilometers', steps:24});   
   
            var story_102 = L.marker([53.480616,-2.229870], {icon:dot}).bindPopup().addTo(map);    
           
            L.geoJSON(a_buff_102,{style: innerStyle}).addTo(map);
            L.geoJSON(b_buff_102, {style: midStyle}).addTo(map); 										

            // Buffer 'b' popups
            const b_pop_102_info = ("<h1 style ='text-align:center; color: #263985'> You are very close a story about a shy guy.</h1><b> Walk towards the cananl. </b><br> <b> Please take a screenshot of the picture below, it will be handy! </b><iframe src='../static/pics/27_castle_street.jpg' width='300' height='300' frameborder='0' ></iframe>")  
            const b_pop_102 = story_102.bindPopup(b_pop_102_info, { 
                maxWidth: 320,				 
                maxHeight: 400
            });
            story_102.off('click');

            // POPUP 102
            const audioIcon102 = L.icon({
                iconUrl: "../static/pinkMusic.png",       // Cold
                iconSize: [30, 30], // size of the icon   [50, 58]
                iconAnchor: [12, 41], // changed marker icon position  [20, 58]
                popupAnchor: [0, -60], // changed popup position
            });
            const a_pop_102_info =
            "<h3>You are a legend!</h3><br><b>All you need now is to be attentive and you will discover a story in no time.</b><br><iframe src='../static/media/A_shy_friend.mp3' width='300' height='300' frameborder='0' ></iframe>";
            // specify popup options
            const a_customOptions102 = {
            maxWidth: "auto", // set max-width
            className: "customPopup", // name custom popup
            };
            const a_pop_102 = L.marker([53.480616,-2.229870], {icon: audioIcon102}).bindPopup(a_pop_102_info, a_customOptions102);





            /*
            // Geofences   ///////////////
            */

            // To inform a player if she's not in the geofence     
            // Areas outside of the largest buffers  
            outofBufferB = [b_buff_1, b_buff_2, b_buff_3, b_buff_101,b_buff_102];
            // Points in the centre of each buffer
            dots = turf.featureCollection([dot_1, dot_2, dot_3, dot_101,dot_102]);

            // OUTER buffers list (larger buffers)
            b_buffers = [b_buff_1, b_buff_2, b_buff_3, b_buff_101,b_buff_102];   
            // OUTER buffers' popups
            b_popups = [b_pop_1, b_pop_2, b_pop_3, b_pop_101,b_pop_102]; 
            // INNER buffers' popups
            // a_popups = [a_pop_1, a_pop_2, a_pop_3, a_pop_4]; 

            // INNER buffers list (smaller buffers) 
            a_buffers = [a_buff_1,a_buff_2, a_buff_3, a_buff_101,a_buff_102];
            // Audio popups
            popup_audio = [a_pop_1, a_pop_2, a_pop_3, a_pop_101, a_pop_102]; 

            
            // SQUARE GRID
            // specify units for measurement
            let gridOptions = {units: 'kilometers'};
            // get grid as a turf polygon 
            let grid = turf.squareGrid([-2.255898,53.463189,-2.228916,53.485829], 0.1, gridOptions);   // Manchester City Centre [-2.257649,53.459561,-2.220493,53.494114]
            // turn grid into geoJson to display on a map
            cover = L.geoJson(grid, {style: {color:'#000000', fill: '#89CFF0', fillOpacity: 0.6, weight: 0.0}}).addTo(map); 
            



            // A function to set the flag variable to 'false' for every buffer in enterBuffer_b 
            enterBuffer_b = [];
                for (let i=0; i<b_buffers.length; i++){
                    enterBuffer_b.push(false);}

            flag_b = [];
                for (let i=0; i<b_buffers.length; i++){
                    flag_b.push(false);}

            flag_a = [];
                for (let i=0; i<a_buffers.length; i++){
                    flag_a.push(false);}



            // Location error function 
            function onLocationError(e) {         
                alert(e.message); 
            } 
            map.on('locationerror', onLocationError);

            // bind listeners
            map.on('locationfound', onLocationFound);
            map.on('locationerror', onLocationError);

                        /////////////////////////////////////////////////////////////////////////////////////////////////////
            // LEGEND WITH ALL HIDDEN INVADERS
            
            //Legend
            L.control.Legend({           
                    position: "bottomright", 
                    collapsed: true,      
                    legends: [{ 
                        label : "story 1 (Hotel)", 
                        type: "image", 
                        url: "../static/pics/skyscraper.png",  
                    },{ 
                        label: "story 2 (Frog)", 
                        type: "image", 
                        url: "../static/pics/frog.png", 
                    },{ 
                        label: "story 3 (Dragon)", 
                        type: "image", 
                        url: "../static/pics/dragon.png", 
                    },{ 
                        label: "story 4 (Natalie)", 
                        type: "image", 
                        url: "../static/pics/couple.png",
                    },{ 
                        label: "story 5 (A shy guy)", 
                        type: "image", 
                        url: "../static/pics/man_5.jpg", 
                    },]
                }).addTo(map);
                //////////////////////////////////////////////////////////////////////////////////////////////////////
        };

  
            


            /*
            // GEOLOCATION FUNCTION   *************************************************************************************************
            */
            function onLocationFound(e) { 

                /*
                // Player's location   ///////////////
                */

                // use turf to create a turf.Point() object (which is stored as GeoJSON) Create a turf point to be able to interact with the other features 
                player = turf.point([e.latlng.lng, e.latlng.lat]);		 	 
                // Geolocation icon
                const playerIcon = L.icon({     
                    iconUrl: '../static/feet.png',   
                    iconSize: [37,37],    
                    iconAnchor: [17, 37],  
                    popupAnchor: [0,-37],
                })
                // Print the coords to the console. DELETE LATER ON
                console.log("Your current position is at:" +e.latlng);  
                // This accounts for the geolocation when the user just opens the game
                if (position == null) {                        
                    position = L.marker(e.latlng, {icon:playerIcon}).addTo(map);
                // Update the geolocation when the current location is known
                } else { 
                    position.setLatLng(e.latlng); 
                }

                // Push the person's location to the array
                locationList.push([e.latlng.lng, e.latlng.lat]);  // [e.latlng.lng, e.latlng.lat]
                console.log(locationList);

                // Create a lineString
                let myLine = turf.lineString(locationList, {name:"user track"});   // Array.from(coordsArray) // Uncaught Error: coordinates must be an array of two or more positions
                // let myLineJson = L.geoJson(myLine);
                // Simplify the line using a turf function 
                const options = {tolerance: 0.000001, highQuality: false}; //0.000833
                let simplified = turf.simplify(myLine, options);

                // calculate the length of the user track
                playerPath = turf.lineDistance(simplified, 'kilometers');   //length(simplified);
                // Round the number 
                let rounded = playerPath.toFixed(3);
                console.log(playerPath);
                document.getElementById("dist_tracker").innerHTML = rounded;



                // Remove the privious layer every time the location updates
                if (geoLine) {
                    geoLine.remove();
                    };
                // add a Json line to the map
                geoLine = L.geoJson(simplified, {style: {       // simplified
                                                weight: 2,
                                                color: '#1A5276',
                                                fillOpacity: 1,
                                                fillColor: 'lightgrey',
                                            }}).addTo(map);

                /*                            
                // Function to connect coords every 50 meters
                for (i=0; i<locationList.length; i++){
                let myLine = turf.lineString([locationList[0], locationList[i]], {name:"user track"});
                
                let geoLine = L.geoJson(myLine, {style: {
                                                weight: 0.5,
                                                color: 'red',
                                                fillOpacity: 1,
                                                fillColor: 'lightgrey',
                                            }}).addTo(map);                // {type: "Point", coordinates: [13.42493130000003, 52.50074619999999 ]}
                console.log(geoLine)
                const options = {tolerance: 0.000833, highQuality: false}; 
                let simplified = turf.simplify(geoLine, options).addTo(map);     // Uncaught Error: unknown GeoJSON type
                };
                */
                
                



                // calculate the nearest point
                var nearest = turf.nearestPoint(player, dots);
                
                // For loop to assess if current location is outside the buffers and if yes add a popup notifying the user about the time to the target
                for ( let i=0; i<outofBufferB.length; i++) {
                    inside = turf.booleanWithin(player, outofBufferB[i],)
                    if (inside === false) { 
                        let distance = Math.round(turf.distance(player,nearest,{units:'kilometers'})*1000)/1000;  //var
                        // 5 km/hr is an average speed of a person
                        let time_dist =  Math.round(60*distance)/5;             
						position.bindPopup("<h1 style ='text-align:center; color: #061529'>Yes! There are space invaders hiding here!</h1> <b>The nearest invader is about: " + time_dist.toString()+" minutes away!</b>", {maxWidth: 200});
                        }
                    else {
                        position.bindPopup("<strong>You very close.</strong><br />Keep exploring!.<br> <b> Walking towards the centre of the circle would help. </b>", {maxWidth: 500});
                    }
                }
                // Calculate nearest point function info
                // https://stackoverflow.com/questions/56306097/get-nearest-point-from-another-one-in-javascript
                // nearest point info
                // https://www.npmjs.com/package/@turf/nearest-point
           

                // BUFFER B
                for (let i=0; i<b_buffers.length; i++){
                    
                    // TESTING: add to the map (and remove previous one to avoid accumulation)
                    geoJSON = L.geoJSON(b_buffers[i]).addTo(map);
                    if (geoJSON) map.removeLayer(geoJSON);
                    

                    // are we in the geofence?
                    const currentlyWithin_b = turf.booleanWithin(player, b_buffers[i]);


                    // if we were NOT within the buffer at the last location
                    if (!flag_b[i]) {

                        // enter the geofence
                        if (currentlyWithin_b){
                        
                            // Open a popup
                            b_popups[i].openPopup();
                            // create marker object
                            L.geoJSON(b_buffers[i], {style: enterstyleMid}).addTo(map);
                            
                            // update the flag
                            flag_b[i] = true;
                        
                        // still outside the geofence
                        }; 

                    // if we WERE within the buffer at the last location
                    } else {

                        // update the flag
                        flag_b[i] = currentlyWithin_b;
                    }
                    

                };


                // BUFFER A
                for (let i=0; i<a_buffers.length; i++){
                    
                    // TESTING: add to the map (and remove previous one to avoid accumulation)
                    geoJSON = L.geoJSON(a_buffers[i]).addTo(map);
                    if (geoJSON) map.removeLayer(geoJSON);
                    

                    // are we in the geofence?
                    const currentlyWithin_a = turf.booleanWithin(player, a_buffers[i]);

                    // if we were NOT within the buffer at the last location
                    if (!flag_a[i]) {

                        // enter the geofence
                        if (currentlyWithin_a){

                            /* do something here (popups etc...) */
                            // a_popups[i].openPopup();
                            // create marker object
                            L.geoJSON(a_buffers[i], {style: enterstyleIn}).addTo(map);
                            // update the flag
                            flag_a[i] = true;
                        
                        // still outside the geofence
                        }; 

                    // if we WERE within the buffer at the last location
                    } else {

                        // update the flag
                        flag_a[i] = currentlyWithin_a;
                    }

                };

                for ( let i = 0; i < a_buffers.length; i++) {       
                    if (turf.booleanWithin(player, a_buffers[i])) {					
                        popup_audio[i].addTo(map);   // .openPopup()
                        if (geofence_tracker [i] == 0) {
                            geofence_tracker[i] =1;
                            points = 0;
                            for(let j in geofence_tracker) {points += geofence_tracker[j]};
                            document.getElementById("score").innerHTML = points;
                            };		
						};	
                    };

                
                
                /*/////////////////////////////////////////////////////////////////////////////////////////////////////
                // SQUARE GRID
                */////////////////////////////////////////////////////////////////////////////////////////////////////

                
                // Loop through each grid square
                cover.eachLayer(function(layer){

                    // Get grid as a turf polygon
                    let poly = turf.polygon(layer.feature.geometry.coordinates);

                    // Check if avatar intersects with grid
                    let ptIntersect = turf.booleanPointInPolygon(player, poly);

                    // Get bounds of the grid and zoom to it
                    if(ptIntersect === true){
                        
                        // Update the layer to ensure that only squares where the player is located are see-through
                        layer.setStyle({fillOpacity: 0})
                        
                    }

                });

            };




        </script>
    </body>
   
</html>

